*{
    padding: 0;
    margin: 0;
}
.dragdiv{
  	width: 100%; 
  	height: auto; 
  	background: #ffd9ec;
  	cursor: pointer;
  	position: absolute;
  	left: 0;
  	top: 0;
  	display: none;
  	opacity: 0.65;
  	pointer-events: none;
}
.drag{
	cursor: pointer;
}
.mouseOver{
	background: FFD2D2;
}
/* td{ */
/* 	-moz-user-select:none; */
/*     -webkit-user-select: none;        */
/*     -ms-user-select: none;  */
/* } */